<nav >
    <div class="logo">Halo</div>
    <div class="navbar-links">
        <a href="/">Main</a>
        <a href="about">About</a>
        <a href="contacts">Contacts</a>
    </div>
</nav>

<style>
    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 1px solid #615e5e;

        margin: 0 2rem ;
    }
    .logo{
        display: flex;
        align-items: start;
        flex: 2;
    }
    .navbar-links{
        display: flex;
        gap: 1rem;
    }
    a{
        text-decoration: none;
        color: #000;
    }
    a:hover{
        color: #565454;
    }
</style>