body {
    font-family: Arial, sans-serif;
}
.bold {
    font-weight: 600;
}
h6, p {
    padding: 0;
    margin: 0;
}

h1 , h3 {
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: #DFB032;
}
.ticket-padding {
    padding: 1.5rem;
    height: 100%;
    width: 100%;
}

.ticket {
    display: flex;
    width: 900px;
    height: 320px;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}

.ticket span {
    font-family: 'Times New Roman', Times, serif;

}

.ticket-main_container {
    position: relative;
    width: 80%;
    height: 100%;
}

.ticket-main_container img.bg-tiket {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

}

.ticket-main_container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eed28450; /* Yellow overlay with opacity */

}

.ticket-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    padding: 20px;
    color: #000000;
    background-color: #ffffffe0;
    border-radius: 0.5rem;

}

.ticket-main_header p {
    font-size: 1.2rem;
    border-bottom : 1px solid #000;
    padding: 0;
    padding-bottom: 0.5rem;
    margin: 0;
}

.ticket-main_content {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.ticket-logo img {
    width: 150px;
    height: 150px;
}

.ticket-qr img {
    width: 180px;
    height: 180px;
    object-fit: contain;
}
.triangle-divider{
    position: absolute;
    left: 714px;
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #ffffff;
    z-index: 10;
}

.triangle-polygon1{
    top: 0;
}
.triangle-polygon2{
    bottom: 0;
    transform: rotate(180deg);
}

.line-divider{
    border: 1px dashed #000;
    height: 94%;
    width: 1px;
    margin-top: 0.6rem;
}

.ticket-name_container {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    border-left: 1px solid #ccc;
    background-color:#EED184;

    position: relative;
}

.ticket-name_content {
    position: relative;
    transform: rotate(270deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 19rem;
    height: 50%;
    border: 1px solid #000;
    border-radius: 0.3rem;
}

img.logo-name{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
}

.ticket-name_container span {
    font-size: 1.5rem;
    color: #000000c7;
    letter-spacing: 0.9px;
}

.ticket-name_container h3 {
    font-size: 2.5rem;
    color: #6b4226;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

img.Decor1{
    position: absolute;
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    mix-blend-mode: multiply;
    opacity: 70%;
}

.Decor1:nth-child(1){
    bottom: 0;
    right: 0;
}

.Decor1:nth-child(2){
    top: 0;
    left: 0;
   transform: rotate(180deg);
   border-bottom-right-radius: 1rem;
}

.invoice{
    width: 100%;
    border: 1px solid #000;
    margin: 2rem 0;
}
.invoice-logo{
    width: 150px;
}

.invoice-header{
    display: flex;
    gap: 1rem;
    background-color: #EED184;
    padding: 1rem;
}

.invoice h6{
    font-weight: 600;
}

.invoice-header_content{
    width: 100%;
    gap: 1rem;
    background-color: #EED184;
    padding: 1rem;
}
.invoice-header_content h6:nth-child(3) {
    margin-top: 1rem;
}
.invoice-header_content p {
    margin-left: 1rem;
}
.invoice-header_time{
    min-width: 10rem;
    padding-top: 1rem;
}

.invoice-main{
    padding: 1rem;
}

.invoice-ticket{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 1rem;
}
.invoice-ticket_main{
    width: 100%;
}

.invoice-ticket_total {
    min-width: 6rem;
}